*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	

}

.full-page
{
    height: 100%;
    width: 100%;
    background-image: url(farm.jpg);
    background-color: #ffffe0; 
    background-position: center;
    background-size: cover;
    position: absolute;

}

img
{
	margin-top: 10px;
    width: 60px;
	height: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1
{
	text-align: center;
}
.box
{
	width:880px;
    height:480px;
    position:relative;
    margin:2% auto;
    background:rgba(0,0,0,0.2);
    padding:10px;
    overflow: hidden;

}

.lab
{
	color: black;
	display: inline-block;
	width: 100px;

}

.input-field
{
    width: 30%;
    align-items: center;
    padding:10px 0;
    margin:5px 0;
    border: 2px solid #999;
    border-radius: 5px;
    /*border-left:0;*/
    /*border-top:0;*/
    /*border-right:0;*/
    /*border-bottom: 1px solid #999;*/
    outline: none;
    /*outline-width: thin; */
    background: transparent;

}

.info-form
{
	align-items: auto;
	/*top: 90px;*/
    position:relative;
    width:180px;
    transition:.5s;
display: inline;
}

.button
{
	width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #3cb371;
    border: 0;
    outline: none;
    border-radius: 30px;
}